.mainsection{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn{
    background-color: #4CAF50; /* Green background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around text */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Align inline */
  font-size: 16px; /* Font size */
  margin: 10px 2px; /* Margin around button */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; 
}
  .btn:hover {
  background-color: #45a049; /* Darker green on hover */
}