.menuarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}
.table{
    max-width: 75rem;
    border-collapse: collapse;
}
.table th{
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #130f0f;
    border-radius: 2rem;
}
.table td{
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #130f0f;
}
.btn{
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: 0.2rem solid rgb(218, 44, 44);
    color: rgb(218, 44, 44);
}





.selectedmenu{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn{
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 4px 20px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Align inline */
    
    margin: 10px 10px; /* Margin around button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
   
  }